@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../../Content/main.css">
    <title>Error</title>
</head>
<body>
    <div class="centered">
        <img src="../../Images/error.png" style="height:300px; width: 400px;" class="centered" />
    </div>
</body>
</html>
