@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="../../Content/main.css">
    <title>Not Found</title>
</head>
<body>
    <div class="centered">
        <img src="../../Images/404.jpg" style="height:700px; width: 700px;" class="centered" />
    </div>
</body>
</html>
